@using FreeKingdomLit.Models
@model FreeKingdomLit.Models.Book

<h1>Book Details Page</h1>

<p>Title: @Model.Title</p>
<p>Pages: @Model.Pages</p>

<p>@Html.ActionLink("Delete", "Delete", new {id = Model.BookId})</p>
<p>@Html.ActionLink("Edit", "Edit", new {id = Model.BookId})</p>
<p>@Html.ActionLink("Back", "Index")</p>