@using FreeKingdomLit.Models
@model FreeKingdomLit.Models.Book

<h1>Edit Book</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BookId)

  @Html.LabelFor(model => model.Title)
  @Html.EditorFor(model => model.Title)

  @Html.LabelFor(model => model.Pages)
  @Html.EditorFor(model => model.Pages)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>